#menu-content-container {
  width: 300px;
}

#content-container {
  padding-top: 44px;
}

#profile-menu-content-container {
  width: 300px;
}

#appointment-table {
  position: relative;
  left: 20px;
  width: calc(100% - 320px);
}

#appointment-table-header {
  position: relative;
  left: 20px;
  width: calc(100% - 320px);
  margin: 1px;
}
