html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 64px;
  margin: 0 0 0 0; /* bottom = footer height */
}

footer {
	position: absolute;
  left: 0;
  bottom: 0;
	min-height: 150px;
	height: 150px;
	width: 100%;
	margin: 0 auto -155px;
	padding: 20px;
	color: gray;
	font-size: 11px;
	background: rgba(240, 240, 240, 0.45);
}

#post {
  margin: 20px;
}

#post-date-label {
  font-size: 12px;
  font-weight: 200;
}

#post-tutor-name-label {
  font-size: 12px;
  font-weight: 200;
}

#available-tutor-alert {
  position: fixed;
  top: 44px;
  height: 46px;
  width: 100%;
  text-align: center;
}

#navigationbar {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

#login-or-signUp-navigationbar-button {
  margin: 8px 15px 0 0;
}

#forgot-password-link {
  font-size: 12px;
  margin-top: 2px;
}

@keyframes alternateClip {
  0% { clip: rect(0, 0, 50px, 0); color: #DF2D2D;}
  50% { clip: rect(0, 50px, 50px, 0); color: #F0E801;}
  100% { clip: rect(0, 50px, 50px, 50px); color: #3ACB27;}
}

@-webkit-keyframes alternateClip {
  0% { clip: rect(0, 0, 50px, 0); color: #DF2D2D;}
  50% { clip: rect(0, 50px, 50px, 0); color: #F0E801;}
  100% { clip: rect(0, 50px, 50px, 50px); color: #3ACB27;}
}

@-moz-keyframes alternateClip {
  0% { clip: rect(0, 0, 50px, 0); color: #DF2D2D;}
  50% { clip: rect(0, 50px, 50px, 0); color: #F0E801;}
  100% { clip: rect(0, 50px, 50px, 50px); color: #3ACB27;}
}

@-ms-keyframes alternateClip {
  0% { clip: rect(0, 0, 50px, 0); color: #DF2D2D;}
  50% { clip: rect(0, 50px, 50px, 0); color: #F0E801;}
  100% { clip: rect(0, 50px, 50px, 50px); color: #3ACB27;}
}

@-o-keyframes alternateClip {
  0% { clip: rect(0, 0, 50px, 0); color: #DF2D2D;}
  50% { clip: rect(0, 50px, 50px, 0); color: #F0E801;}
  100% { clip: rect(0, 50px, 50px, 50px); color: #3ACB27;}
}

.activity-indicator-container {
  position: absolute;
  width: 150px;
  height: 60px;
  top: 250px;
  left: calc(50% - 35px);
}

.activity-indicator-background {
  margin-top: 3px;
  position: absolute;
  font-size: 50px;
}

.activity-indicator {
  position: absolute;
  font-size: 50px;
  color: #0088CC;
  clip: rect(0, 0, 50px, 0);
  -webkit-animation: alternateClip infinite 3s;
  -moz-animation:alternateClip infinite 8s;
  -ms-animation:alternateClip infinite 8s;
  -o-animation:alternateClip infinite 8s;
  animation:alternateClip infinite 8s;
}

.activity-label {
  position: relative;
  top: 100%;
  left: -35%;
  text-align: center;
}
