#content-container {
  padding-top: 44px;
}

#tutor-content-container {
  margin-bottom: 44px;
}

#media-content-container {
  position: relative;
  left: 15px;
}

#media-body {
  padding-left: 12px;
}

#description-well {
  resize: none;
  height: 150px;
  width: 98%;
  max-width: 98%;
  margin-top: 20px;
}

#tutorPic {
    display: block;
    max-width:64px;
    max-height:64px;
    width: auto;
    height: auto;
}
